$basic-color: white;

.container{
    top: 45%;
    height: 450px;

    .question{
      color: $basic-color;
      font-size: 0.65rem;
      text-align: center;
    }

    .home {
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 0.65rem;
      color: $basic-color;
    }
}