$primary-color: white;
$second-color: #F2B96F;

.container-products {

  position: relative;
  color: $primary-color;
  width: 100%;

  .top-container {
    .btn-add-product {
      font-size: 0.8rem;
      position: absolute;
      left: 3px;
      color: $primary-color;
      border: 1px solid white;
      padding: 3px 6px;
    }
  }

  .filter {
    display: flex;
    justify-content: center;
    margin-inline: 10px;
    max-width: 100%;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 2px;
    margin: 5px 0 10px 0;
    a{
      color: $primary-color;
    }
  }

  .message{
    position: fixed;
    top:4%;
    left: 50%;
    transform: translate(-50%,-4%);
    color: $second-color;
    font-size: 1rem;
  }

  .products {
    display: flex;
    position: relative;
    justify-content: center;


    .products-wraper{
      display: grid;
      grid-template-columns: repeat(4, 155px);
      grid-gap: 0.2rem 0.2rem;
      margin: 10px 0 32px 0;
    }

    .product {
      img{
        width: 100%;
      }
      height: 100%;
      border: 1px solid white;
      position: relative;
      font-size: 0.65rem;

      .product-info{
        padding: 0 5px;

        .price{
          color: $second-color;
        }
      }

      .btn-delete{
        position: absolute;
        top: 4px;
        right: 8px;
        color: black;
        z-index: 2;
      }
    }
  }
}

@media screen and (max-width: 1070px){
  .container-products{
    .products{
      .products-wraper{
        display: grid;
        grid-template-columns: repeat(3, 142px);
        grid-gap: 0.2rem 0.2rem;
        margin-bottom: 32px;
      }
    }
    .top-container {
      .btn-add-product {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 770px){
  .container-products{
    .products{
      margin-inline: 10px;
      gap: 10px;

      .products-wraper {
        grid-template-columns: repeat(2, calc(48vw - 10px));
        grid-gap: 0.2rem 0.2rem;
        margin-bottom: 32px;
      }
    }
    .top-container {
      .btn-add-product {
        display: none;
      }
    }
  }
}