$primary-color: white;

.main-content{
  position: relative;
}

.map{

  h1{
    margin: 5px 0 5px 0;
    color: $primary-color;
    text-align: center;
  }

  i{
    color: $primary-color;
    width: 5px;
  }

  p{
    color: $primary-color;
    text-align: center;
  }

  img{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 755px){

  .main-content{
    border: none;
    height: 90%;
  }

  .map{
    img{
      width: 80%;
    }
  }
}