* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100vh;
    background-image: url("../images/jdmback.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.login{
    width: 140px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -30%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome{
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-35%, -50%);
    color: white;
    font-size: 2rem;
}

.button-54 {
    text-align: center;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.button-54:hover{
    background-color: #eebd87;
    transition: all 0.3s ease-in-out;
}

.title div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title .title-2 {
    left: 50.4%;
}
@media screen and (max-width: 1450px) {
    .title svg {
        width: 100%;
        height: 100%;
    }
}

.active {
    color: #F2B96F;
    border-bottom: 0.15rem solid #F2B96F;
}

nav {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%, -12%);
    width: 40rem;
    font-family: "Source Code Pro", monospace;
    transition: all 0.3s ease-in-out;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    transition: all 0.2s ease-in-out;
    font-size: 1.2rem;
}

nav a:hover, nav a:focus {
    color: #F2B96F;
}

footer {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
    display: flex;
    font-size: 0.8rem;
}

footer .nickname-1 {
    color: #F2B96F;
}

footer .nickname-2 {
    color: white;
}

@media screen and (max-width: 660px) {

    .login{
        width: 100px;
        top: 27%;
        gap: 7px;
    }

    .button-54 {
        font-size: 0.55rem;
        padding: 0.25em 0.75em;
    }

    .title div {
        position: absolute;
        top: 20%;
        left: 50%;
    }

    nav {
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translate(-55%, -6%);
        width: 8rem;
    }

    nav, ul {
        display: flex;
        flex-direction: column;
    }

    nav, ul, li {
        font-size: 0.8rem;
        margin: 0.5rem;
    }

    footer {
        font-size: 0.5rem;
    }
}